# ESLint Ignore Configuration File
# See https://eslint.org/docs/2.13.1/user-guide/configuring#ignoring-files-and-directories for more details

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Files and Folders
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
node_modules
